---
import type { ComponentProps } from "astro/types"
import SectionItem from "~/components/SectionItem.astro"

type Props = ComponentProps<typeof SectionItem> & {
  title: string
  class: string
}

const { class: classList, title, ...attrs } = Astro.props
---

<SectionItem class={classList} {...attrs}>
  <h3>{title}</h3>

  <address class="not-prose">
    <slot />
  </address>
</SectionItem>
